<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602410757700-pol3noraljt4195d2q19omlbhbpcvonp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602410757700-pol3noraljt4195d2q19omlbhbpcvonp</string>
	<key>API_KEY</key>
	<string>AIzaSyB9xYioOND-vjw6LyV7KsUh2Cu3H0ROhio</string>
	<key>GCM_SENDER_ID</key>
	<string>602410757700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.SchoolTimeTable</string>
	<key>PROJECT_ID</key>
	<string>schooltimetable-a4183</string>
	<key>STORAGE_BUCKET</key>
	<string>schooltimetable-a4183.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602410757700:ios:6eaf7d7857df263cb21611</string>
</dict>
</plist>